<link rel="stylesheet" href="{{ PELITRACK_SCRIPT_LOCATIONS['leaflet.css'] }}" />
<script src="{{ PELITRACK_SCRIPT_LOCATIONS['leaflet.js'] }}"></script>
<script src="{{ PELITRACK_SCRIPT_LOCATIONS['gpx.min.js'] }}"></script>
<script src="{{ PELITRACK_SCRIPT_LOCATIONS['leaflet-providers.js'] }}"></script>
<div id="{{ article.slug }}-map", style="height: {{ article.track_settings['height'] }}; width: {{ article.track_settings['width'] }}"></div>
<script>
        {% for provider in article.track_settings['provider'] %}
                var layer{{ loop.index }} = L.tileLayer.provider('{{ provider }}');
        {% endfor %}
        var baseMaps = {
                {% for provider in article.track_settings['provider'] %}
                "{{ provider }}": layer{{ loop.index }},
                {% endfor %}
        };

	var map = L.map('{{ article.slug }}-map');

        layer1.addTo(map);

	var gpx = '{{ article.track_location }}';
	new L.GPX(gpx, {{ article.track_settings['gpx_options'] }}).on('loaded', function(e) {
		map.fitBounds(e.target.getBounds());
	}).addTo(map);

        {% if article.track_settings['provider']|length > 1 %}
        L.control.layers(baseMaps).addTo(map);
        {% endif %}
</script>
